.title{
text-align:center;
}
.section {
background: #009973;
	color: #ffffff; 
text-align: center;
} 



p {
	color: #ffffff;
	font-size: 18px;
}
.text {
color:black;
text-align:left;
}

body {
	font-family:Palatino, 'Palatino Linotype', serif;
	height: 100%;
	margin: 0;
	width: 100%;

}
img {
 width: 400px;
    height: 100px;
}
.star-rating{
  font-size:0;
  white-space:nowrap;
  display:inline-block;
  width:250px;
  height:50px;
  overflow:hidden;
  position:relative;
 
